 <h1 class="current">
 Here are some current Political issues:
 </h1><br><br>

 <div class="row">
 <div class="col-md-3">

 	<h1>Affordable Health Care</h1>
 </div>
 <div class="col-md-3">
 <img src="http://newsbusters7.s3.amazonaws.com/images/2013/September/ObamaCare%20908.jpg">
 </div>
 </div>


 
<ol class="med">
<li>Expand coverage</li>
<li>Hold insurance companies accountable</li>
<li>Lower health care costs</li>
<li>Guarantee more choice</li>
<li>Enhance the quality of care for all Americans</li>
</ol>
<a href="http://medicaid.gov/affordablecareact/affordable-care-act.html">ObamaCare</a>
<br>

<div class="row">
 <div class="col-md-7">
 <h1 class="kidds"> You Children's Health Care</h1>
 <h2 class="kidds2">CHIP</h2>
 <p class="chip">
 What CHIP covers<br>

  
<ol class="covers">
<li>Routine check-ups</li>
<li>Immunizations</li>
<li>Doctor visits</li>
<li>Prescriptions</li>
<li>Dental and vision care</li>
<li>Inpatient and outpatient hospital care</li>
<li>Laboratory and X-ray services</li>
<li>Emergency services</li></p>
</ol>
<h3 class="qualify">To see if you quailty:<br>
Visit www.insurekidsnow.gov and select your state. Or call 1-877-543-7669
</h3>

 </div>
</div>


 <div class="row">
 <div class="col-md-4">
 </div>
 <div class="col-md-5">
 <h1 class="commmon">
 Common Core/Education
 </h1>
 </div>
 </div>
 <br>

 <div class="row">
 <div class="col-md-4">
 </div>
 <div class="col-md-5">


 <iframe width="560" height="315" src="https://www.youtube.com/embed/MQoEvDS3ZX8" frameborder="0" allowfullscreen></iframe>
 </div>
 </div>

 <h1>Global Warming</h1>
 <div class="row">
 <div class="col-md-4">
 <h3>


Energy is an issue that touches every person on the planet. That's why National Geographic, in partnership with Shell*, has launched the Great Energy Challenge.

The Great Energy Challenge convenes and engages influential citizens and key energy stakeholders in solutions-based thinking and dialogue about our shared energy future.

It's a call to action to become actively involved, to learn more and do more—to change how we think about and consume energy so that we can all help tackle the big energy questions.

National Geographic has assembled some of the world's foremost researchers and scientists to help address the challenge. Led by Thomas Lovejoy, a National Geographic conservation fellow and renowned biologist, the team of advisors will work together to identify and provide support for projects focused on innovative energy solutions.

Learn more about the Great Energy Challenge panel of advisors here.

The Great Energy Challenge website is a one-stop resource where you can participate actively. Get started now!</h3>
</div>
<div class="col-md-1">
<p class="e">E</p></div>
<div class="col-md-1">
<p class="m">M</p></div>
<div class="col-md-1">
<p class="i">I</p></div>
<div class="col-md-1">
<p class="s">S</p></div>
<div class="col-md-1">
<p class="s1">S</p></div>
<div class="col-md-1">
<p class="i1">I</p></div>
<div class="col-md-1">
<p class="o">O</p></div>
<div class="col-md-1">
<p class="n">N</p></div>

</div>
<cite>http://environment.nationalgeographic.com/environment/energy/great-energy-challenge/about/</cite>
