<script>
$(function () {
  $('[data-toggle="popover"]').popover()
});
</script>


<button style="color:black" type="button" class="btn btn-lg btn-danger" data-toggle="popover" title="Popover title" data-content="And here's some amazing content. It's very engaging. Right?">Affordable Heath Care</button>


<p class="health">The Affordable Care Act  provides Americans with better health security by putting in place comprehensive health insurance reforms that will:</p>
<ol class="med">
<li>Expand coverage</li>
<li>Hold insurance companies accountable</li>
<li>Lower health care costs</li>
<li>Guarantee more choice</li>
<li>Enhance the quality of care for all Americans</li>
</ol>
<a href="http://medicaid.gov/affordablecareact/affordable-care-act.html">ObamaCare</a>
<br>

<button style="color:black" type="button" class="btn btn-lg btn-danger" data-toggle="popover" title="Popover title" data-content="And here's some amazing content. It's very engaging. Right?">Common Core</button><br>

 <iframe width="560" height="315" src="https://www.youtube.com/embed/MQoEvDS3ZX8" frameborder="0" allowfullscreen></iframe>