<html>
<head>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
</head>
<body id="b">

<h1>Find legislators</h1>
<div id="holder"></div>


</body>
<script>
$(function() {
  $.ajax('https://congress.api.sunlightfoundation.com/legislators/locate?apikey=d76ffc8279fc4bc291273bfe9c794064&zip=37211').done(function(result) { $(result).each(function(index,obj){  console.log(obj); $('#holder').append("<iframe scr='" + obj.website  + "'/>") ; })
});
});
</script>
</html>