<form>
<input style="font-size: 25px" type="radio" name="sex" value="male" checked><h2>Donald Trump</h2>
    <div class="donald"></div>
	 		
<br><br>
<input type="radio" name="sex" value="female"><h2>Ted Cruz</h2>
	<div class="ted"></div>
 
<br><br>
<input type="radio" name="sex" value="female">Jeb Bush
<img src="http://www.gannett-cdn.com/-mm-/80ea7b66738c4452aa34146fce0cd3627c482775/c=92-0-1884-1347&r=x404&c=534x401/local/-/media/USATODAY/onpolitics/2013/05/30/1369949609000-jeb-bush-001.jpg" height="100" width="100">
<br><br>
<input type="radio" name="sex" value="female">Jeb Bush
<img src="https://upload.wikimedia.org/wikipedia/commons/7/79/Marco_Rubio,_Official_Portrait,_112th_Congress.jpg" height="100" width="100">
<br><br>
<input type="radio" name="sex" value="female">Jeb Bush
<img src="https://upload.wikimedia.org/wikipedia/commons/0/00/Scott_Walker_by_Gage_Skidmore.jpg" height="100" width="100">
</form> 